/* Alignment Classes ------------------------- */
.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
	margin: 1rem auto;
}

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto;
}

/* Full */
.wp-block[data-align="full"],
.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 100vw;
}

[class*="__inner-container"] > .alignfull {
	max-width: 100%;
}

/* Wide */
.wp-block[data-align="wide"],
.alignwide {
	--max-width: min( 100vw, var(--content-wide-width) );
	--margin-horizontal: calc( 50% - var(--max-width) / 2 );
	max-width: var(--max-width);
	position: relative;
	margin-left: var(--margin-horizontal);
	margin-right: var(--margin-horizontal);
	width: var(--max-width);
}

[class*="__inner-container"] > .alignwide {
	max-width: 100%;
}

/* Center */
.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

/* Left and right */
.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	margin: .5rem 2rem .5rem 0;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	margin: .5rem 0 5rem 2rem;
}

/* Entry Media ------------------------------- */

.alignfull > figcaption,
.alignfull > .wp-caption-text {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 4rem);
}
