@custom-media --window-small (max-width: 600px);
@custom-media --window-medium (min-width: 783px);
@custom-media --window-large (min-width: 1080px);

:root {
	--wp--preset--font-size--normal: 16;
	--color-white: #fff;
	--color-black: #333;
	--content-width: 75rem;
	--content-wide-width: 100rem;
	--content-gutter: 2rem;
}
